In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [2]:
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [3]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [19]:
from sentence_transformers import SentenceTransformer
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)
vectors.shape

(8, 768)

In [20]:
vectors

array([[-0.00247395,  0.0362672 , -0.05290459, ..., -0.09152358,
        -0.0397    , -0.04330491],
       [-0.03357266,  0.00980515, -0.03250129, ..., -0.05165466,
         0.02245886, -0.03156183],
       [-0.01865324, -0.04051318, -0.01235387, ...,  0.00610584,
        -0.07179647,  0.02773853],
       ...,
       [-0.00066458,  0.0425213 , -0.05645508, ...,  0.01315471,
        -0.03183569, -0.04357664],
       [-0.03317154,  0.03252458, -0.0248484 , ...,  0.01174421,
         0.05747124,  0.00571022],
       [-0.00166394,  0.00413825, -0.04597083, ...,  0.02008527,
         0.05656242, -0.00161596]], shape=(8, 768), dtype=float32)

In [21]:
dim = vectors.shape[1]
dim

768

In [22]:
import faiss 
index=faiss.IndexFlatL2(dim)
index

In [23]:
index.add(vectors)

In [24]:
search_query = "A apple a day keeps the doctor away "
vec = encoder.encode(search_query)
vec.shape

(768,)

In [25]:
import numpy as np 
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [26]:
distances, I = index.search(svec, k=2)

In [27]:
print("FAISS Output:", I)  # Check what FAISS returns
print("DataFrame Indices:", df.index)  # Verify the available indices in the DataFrame

FAISS Output: [[1 0]]
DataFrame Indices: RangeIndex(start=0, stop=8, step=1)

In [28]:
distances, indices = index.search(svec, k=2)
indices = indices[indices < len(df)]  # Keep only valid indices

In [29]:
valid_indices = [i for i in I[0] if i in df.index]
print(valid_indices)  # Should only include valid indices
df.loc[valid_indices]

[np.int64(1), np.int64(0)]

                                                               text category
1  Fruits, whole grains and vegetables helps control blood pressure   Health
0                     Meditation and yoga can improve mental health   Health

In [30]:
I

array([[1, 0]])

In [31]:
df.loc[I[0]]

                                                               text category
1  Fruits, whole grains and vegetables helps control blood pressure   Health
0                     Meditation and yoga can improve mental health   Health

In [32]:
search_query

'A apple a day keeps the doctor away '

In [33]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel